*.csv
*.pyc
logs/
wandb/
augmented_data/
incas_data/
# time_data_partition/
*.pkl
sedan_data/
bedroom_pt_data/
pt_data/
augmented_data_positive+negative_t=1000/
augmented_data_positive+negative_t=700/